<!-- password_reset_done.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .content {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-top: 50px;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Email sent successfully</h1>
        <p>We have emailed you instructions for Reset your password. If an account exists with this email, You will receive an email shortly.</p>
    </div>
</body>
</html>
