{% extends "base.html" %} {% block body %}
<title>{% block title %} Home{% endblock %}</title>
    <!-- Header-->
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container px-5">
          <h1 class="masthead-heading mb-0">WonderChat:</h1>
          <h2 class="masthead-subheading mb-0">
            Rock Your Socks Off Conversations
          </h2>
          <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll"
            >Learn More</a
          >
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
    <!-- Content section 1-->
    <section id="scroll">
      <div class="container px-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img
                class="img-fluid rounded-circle"
                src="/static/images/chat-application.png"
                alt="..." />
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">For those about to chat...</h2>
              <p class= "para"  >
                🚀 Ready to embark on a chat journey like never before? Let's
                dive into the conversation cosmos, explore new horizons, and
                exchange thoughts, stories, and laughter. The digital realm is
                our canvas! Ignite the conversation with your thoughts, provoke
                inspiration, and watch as the sparks of shared knowledge fly.
                Get ready for some intellectual fireworks! 💬🌟
                #ChattingAdventures &nbsp<a href="/rooms">Click Here</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content section 2-->
    <section>
      <div class="container px-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img
                class="img-fluid rounded-circle"
                src="/static/images/ai-image-5.webp"
                alt="..." />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">For those about to genrate Images!</h2>
              <p class="para">
                🎨✨ Ready to embark on a creative journey? OR Are you ready to
                transcend the boundaries of reality and dive into the realm of
                imagination? Let your imagination run wild as you venture into
                the world of image generation through the magic of prompts. Each
                click of the camera or stroke of the brush brings a unique
                masterpiece to life. 📷🖌️ Let's turn your ideas into captivating
                visuals! #CreativeExploration <a href="/img">Click Here</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
   
{% endblock body%}